<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="promind.cleaner.app">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission
        android:name="android.permission.CLEAR_Manifest.permission.READ_EXTERNAL_STORAGEAPP_CACHE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- applock -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="promind.cleaner.app.core.app.Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Translucent"
        android:allowBackup="true">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name="promind.cleaner.app.ui.activities.premium.PremiumActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name="promind.cleaner.app.ui.activities.deepClean.DeepScanResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.deepClean.DuplicateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.deepClean.NoFileActiviy"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.deepClean.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.deepClean.DeepScanActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="promind.cleaner.app.ui.activities.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="promind.cleaner.app.ui.activities.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.phoneboost.PhoneBoostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.result.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.guildPermission.GuildPermissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.junkfile.JunkFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.deepcleanjunk.BigJunkFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.listAppSelect.AppSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.appManager.AppManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.smartCharger.SmartChargerBoostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.smartCharger.SmartChargerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.cleanNotification.NotificationCleanSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.cleanNotification.NotificationCleanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.cleanNotification.NotificationCleanGuildActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.antivirus.AntivirusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.ExitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.antivirus.ScanAppInstallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="promind.cleaner.app.ui.activities.antivirus.ScanAppUninstallActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="promind.cleaner.app.core.service.service.ForceStopAccessibility"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
        <service
            android:name="promind.cleaner.app.core.service.service.NotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="promind.cleaner.app.core.service.service.ServiceManager"
            android:exported="false" />

        <receiver android:name="promind.cleaner.app.core.service.broadcasts.BatteryStatusReceiver" />
        <receiver android:name="promind.cleaner.app.core.service.broadcasts.PackageRecerver" />
        <receiver android:name="promind.cleaner.app.core.service.broadcasts.AlarmReceiver">
            <intent-filter>
                <action android:name="com.app.action.alarmmanager" />
            </intent-filter>
        </receiver> <!-- app lock -->
        <receiver
            android:name="promind.cleaner.app.core.service.broadcasts.AutoRebootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="99999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>